.buy-link {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.3s linear 0.05s;
}

.buy-link:hover {
  opacity: 0.5;
}
